/*This CSS styles the survery-form.html file*/


/*Main body styling*/
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #c2d1ce;
    color: #23596e;
    font-family: 	Courier New;
    font-size: 18px;
  }

/*Header and paragraph styling*/
h1, p {
    margin: 1em auto;
    text-align: center;
  }

/*Main form styling*/
form {
    width: 60vw;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 0.5em;
    background-color: rgba(216, 165, 50, 0.8);
    border-radius: 8px;  
  }  

/*individual fieldset formatting*/
fieldset {
    border: none;
  }

/*styling the last fieldset element in the page*/  
fieldset:last-of-type {
    border-bottom: none;
  }
/*label styling*/  
  label {
    display: block;
    margin: 0.5rem;
  }

/*genearl styling for all inputs*/  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }

/*Styling for text inputs*/
  input, textarea {
    background-color: white;
    border: 1px solid white;
    color: black;
  }

  /*Class for elements in the same line*/  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

/*Additional input styling*/
  input[type="submit"] {
    display: block;
    width: 30%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.3rem;
    background-color: #cc102d;
    border-color: #cc102d;
    min-width: 50px; 
    font-family: Courier New;
    border-radius: 8px;
    color: white;
  }